<md-card class="login-container">
  <md-card-title class="card-title">LOGIN</md-card-title>
  <md-card-content>
    <form [formGroup]="form" autocomplete="off" novalidate>
      <!--Account Field-->
      <div>
        <md-input-container style="width: 100%;">
          <input mdInput type="text" placeholder="Username" formControlName="username">
          <div class="field-error-message" *ngIf="isErrorVisible('username','required')">field is mandatory</div>
        </md-input-container>
      </div>

      <!--Password Field-->
      <div>
        <md-input-container style="width: 100%;">
          <input mdInput type="password" placeholder="Password" formControlName="password">
          <div class="field-error-message" *ngIf="isErrorVisible('password','required')">field is mandatory</div>
        </md-input-container>
      </div>

      <md-card-actions>
        <button style="width: 100%" md-raised-button color="primary" [disabled]="!form.valid" (click)="login(form)">Login</button>
        <div>
          <a  style="float: right; margin-top: 10px" routerLink="/register" routerLinkActive="active">Create a User</a>
        </div>
      </md-card-actions>
      <div style="color: red">{{error}}</div>
    </form>
  </md-card-content>
</md-card>
